* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root {
    --col1: #f0a202;
    --col2: #f18805;
    --col3: #d95d39;
    --col4: #0e1428;
    --col5: #7b9e89;
    --text: white;
}

body {
    background-color: var(--col1);
    color: var(--text)
}

header {
    position: relative;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    border: black;
    min-height: 10%;
    border-style: solid;
    text-decoration: underline;
}

.h2 {
    font-size: x-large;
}

main {
    background-color: var(--col2);
    color: var(--col4);
    font-size: 25px;
    border-style: ridge;
    border-color: black;
}

#search-btn, #clear-btn {
    border: #0e1428;
    border-radius: 2px;
    border-style: solid;
    background-color: var(--col3);
    font-weight: bolder;
    font-size: larger;
}

#search-btn:hover, #clear-btn:hover {
    background-color: white;
    cursor: pointer;
    transform: scale(1.05);
}

.input {
    font-size: large;
    border-radius: 20px;
    border-style: groove;
    border-color: black;
}

.songs {
    text-align: left;
    background-color: lightblue;
    padding-top: 11px;
    padding-bottom: 11px;
    border-top-right-radius: 5px;
    border-bottom-style: solid; 
    border-bottom-color: lightgray;
    width: 100%;
    text-transform: capitalize;
}

.artist-name {
    font: bold;
    color: var(--text);
}

#searchSong-btn, #clear-btn {
    border: #0e1428;
    border-radius: 2px;
    border-style: solid;
    background-color: var(--col3);
    font-weight: bolder;
    font-size: larger;
}

#searchSong-btn:hover, #clear-btn:hover {
    background-color: white;
    cursor: pointer;
    transform: scale(1.05);
}

.songInput {
    font-size: large;
    border-radius: 20px;
    border-style: groove;
    border-color: black;
}





img{
    border: #0e1428;
    border-radius: 20px;
    width : 80px


    
    
}


@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma-rtl.min.css";


